.ctAppRoot .hierarchicalsearch .resetbutton{
    margin-top: 0;
    margin-right: 0;
}

.ctAppRoot .hierarchicalsearch .searchbutton{
    margin-right: 0;
}

.ctAppRoot .hierarchicalsearch .searchdisplaybutton{
    margin-right: 0;
}